<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书名列表首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
</head>
<body>

    <div class="container">
        <h2>书名列表</h2>
        <ul>
            {%for book in book%}

    <!--        <li><a href="/detail/{{a.id}}/">{{a.title}}</a></li>-->
                <li><a href="{% url 'booktest:detail' book.id %}">{{forloop.counter}}&nbsp{{book.title}}</a></li>
            {%endfor%}
        </ul>
        <br>
    <!--    <a href="/">点击返回首页</a>-->
        <a href="{% url 'booktest:index' %}">点击返回首页</a>

    </div>

</body>
</html>